@keyframes translateY
    0%
        transform: translateY(-100px)

    100%
        transform: translateY(0)

@keyframes translateX-left
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)
@keyframes translateX-right
    0%
        transform: translateX(100%)
    100%
        transform: translateX(0)
@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes bar-height
    0%
        transform: scaleY(0)
        transform-origin: bottom
    100%
        height: 5%
        transform: scaleY(1)
@keyframes bar-grow
    0%
        transform: scaleY(0) scaleX(4)
        transform-origin: botto
    100%
        transform: scaleY(1) scale(1)
