//form
form
    label
        margin: 10px
    input
        // margin: 10px

input[type="range"]
    -webkit-appearance: none
    background: transparent

    width: 100%
    margin: 10px
    height: 10px

    &:focus
        outline: none

    &::-webkit-slider-runnable-track
        cursor: pointer
        height: 10px
        background-color: $green
        border-radius: 5px

    &::-ms-track
        width: 100%
        cursor: pointer

    &::webkit-slider-thumb
        -webkit-appearance: none
        border: 1px solid #000

    &::-moz-range-thumb
        border: 1px solid red

.value
    font-weight: bolder

    margin: 10px
    border: 1px solid $green
    line-height: 1.4

    display: inline-block
